h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: .25rem;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: .25rem;
}
h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: .25rem;
}
h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .25rem;
}
h5 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: .25rem;
}
h6 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: .25rem;
}
p {
  margin-bottom: .25rem;
}
ol, ul {
  margin-bottom: .25rem;
  margin-left: 1.5rem;
  list-style: initial;
}

li {
  margin-bottom: 0.5rem;
}
a {
  color: #1a9;
  text-decoration: underline;
}
a:hover {
  color: #006699;
}
img {
  max-width: 250px;
}